:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.grid {
  height: 300px;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  color: #282828;
  background-color: #fbf7f5;

  > button {
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #7f7f7f;
    }

    &:disabled {
      background-color: #fbf7f5;
      color: black;
      cursor: not-allowed;

      &.highlight {
        color: green;
        background-color: #c7f6c7;
      }
    }
  }
}

.btn-restart {
  border-radius: 4px;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  border: none;
  transition: background-color 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: #454545;
  }

  &:active {
    transform: scale(0.98);
  }
}

@media (min-width: 992px) {
  .grid {
    width: 600px;
    height: 600px;

    > button {
      font-size: 6rem;
    }
  }

  .btn-restart {
    border-radius: 4px;
    padding: 0.75rem 2rem;
    font-size: 1.25rem;
  }
}
